#gameStage {
	position: relative;
	width: 650px;
	height: 650px;
	background: black;
}

#gameStage div {
	position: absolute;
	width: 50px;
	height: 50px;
}

#gameStage .brick {
	background: hsl(24, 100%, 40%);
}
#gameStage .brick-w {
	height: 25px;
	background: hsl(24, 100%, 40%);
}
#gameStage .brick-x {
	margin-top: 25px;
	height: 25px;
	background: hsl(24, 100%, 40%);
}

#gameStage .ice {
	background: hsl(163, 100%, 68%);
}
#gameStage .ice-t {
	background: hsl(163, 100%, 68%);
	height: 25px;
}