#gameStage {
	position: relative;
	width: 650px;
	height: 650px;
	background: black;
}

#gameStage div {
	position: absolute;
}

#gameStage .brick {
	background: hsl(24, 100%, 40%);
}

#gameStage .concrete {
	background: hsl(163, 100%, 68%);
}

#gameStage .player {
	background: green;
}
#gameStage .base {
	background-color: hsl(0, 12%, 12%)
}